build/
managed_components/
sdkconfig.old
sdkconfig.ci
sdkconfig.ci.dualchannel
sdkconfig.defaults
__pycache__/
.vscode/

*.csv
*.txt
*.xlsx

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm-project.org/#use-with-ide
.pdm.toml
.pdm-python
.pdm-build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

pdm.lock